.theme-dark {
  --background-primary: #272b34;
  --background-primary-alt: #20242b;
  --background-secondary: #20242b;
  --background-secondary-alt: #1a1e24;
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #61afef;
  --text-accent-hover: #69bafd;
  --text-normal: #dcddde;
  --text-muted: #888;
  --text-faint: rgb(81, 86, 99);
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
}

.theme-light {
  --background-primary: #f8f9fb;
  --background-primary-alt: #f8f9fb;
  --background-secondary: #f8f9fb;
  --background-secondary-alt: #f8f9fb;
  --background-accent: #fff;
  --background-modifier-border: #dbdbdc;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #ff9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #1592ff;
  --text-accent-hover: #2d9dff;
  --text-normal: #383a42;
  --text-muted: #8e8e90;
  --text-faint: #999999;
  --text-error: #e75545;
  --text-error-hover: #f86959;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.15);
  --text-on-accent: #f2f2f2;
  --interactive-normal: #eaeaeb;
  --interactive-hover: #dbdbdc;
  --interactive-accent-rgb: 21, 146, 255;
  --interactive-accent: #5871ef;
  --interactive-accent-hover: #445bd1;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --panel-border-color: #dbdbdc;
}

/*----------------------------------------------------------------

Variables

*/

:root {
  /*----------------------------------------------------------------

    Fonts
  
    Make sure you have the fonts Lato, Open Sans, and IBM Plex installed locally on your machine.
    They're free to download from Google:
    https://fonts.google.com/specimen/Lato
    https://fonts.google.com/specimen/Open+Sans
    https://fonts.google.com/featured/Plex
    
    */
  --header-font: 'Lato', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --code-font: 'IBM Plex', monospace;

  /* Sizes, weights, padding */

  --font-normal: 16px;
  --font-small: 13px;
  --font-smaller: 11px;
  --font-smallest: 10px;
  --h1: 1.125em;
  --h2: 1em;
  --h3: 1em;
  --h4: 0.9em;
  --h5: 0.85em;
  --h6: 0.85em;
  --normal-weight: 400; /* Switch to 300 if you want thinner default text */
  --bold-weight: 600; /* Switch to 700 if you want thicker bold text */
  --line-width: 40rem; /* Maximum characters per line */
  --line-height: 1.5;
  --max-width: 87%; /* Amount of padding around the text, use 90% for narrower padding */
  --nested-padding: 3.5%; /* Amount of padding for quotes and transclusions */
  --icon-muted: 0.4;
  --border-width: 1px;
  --border-width-alt: 1px;

  /*----------------------------------------------------------------

    Colors

    */
  --black: black;
  --gray-1: #5c6370;
  --gray-2: #abb2bf;
  --red: #e06c75;
  --orange: #d19a66;
  --green: #98c379;
  --aqua: #56b6c2;
  --purple: #c678dd;
  --blue: #61afef;
  --yellow: #e5c07b;

  --pre-code: #ffffff;
  --tag-background: #a7b0b3;
}

.cm-header {
  font-family: var(--header-font);
}

/*----------------------------------------------------------------
**
** EDITOR 
**
** Everything related to the edit mode
**
**/
.markdown-source-view,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian {
  line-height: var(--line-height);
  font-family: var(--body-font);
}

/*----------------------------------------------------------------
**
** Preview 
**
** Everything related to the preview mode
**
**/

/****
** Center Headers
**/
h1,
h2 {
  display: flex;
  width: 100%;
  align-items: center;
}
h1:before,
h1:after,
h2:before,
h2:after {
  content: '';
  background: gray;
  height: 0.1em;
  margin: 0.2em;
  flex: 1;
}
h1 > a,
h2 > a {
  padding: 0 0.25em !important;
}

.heading-collapse-indicator.collapse-indicator.collapse-icon {
  margin-left: 0;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 6px;
}

/*----------------------------------------------------------------
**
** CODE
**
**/
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd .CodeMirror-code {
  font-family: var(--code-font);
  color: var(--black);
}

/*----------------------------------------------------------------
**
** TAGS
**
**/

/* text of the tag in editor */
.cm-s-obsidian span.cm-hashtag-end {
  color: var(--pre-code);
  background-color: var(--tag-background);
  text-decoration: none;
  border-radius: 0 10px 10px 0px;
  padding: 1px 5px 1px 0px;
}

/* text of the actual hashtag in the editor */
.cm-s-obsidian span.cm-hashtag-begin {
  color: var(--pre-code);
  background-color: var(--tag-background);
  text-decoration: none;
  border-radius: 10px 0 0 10px;
  padding: 1px 0px 2px 5px;
}

/* entire tag in preview */
a.tag {
  font-style: normal;
  color: var(--pre-code) !important;
  background-color: var(--tag-background);
  text-decoration: none;
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
}

/*----------------------------------------------------------------
**
** OUTLINES
**
**/

/****
** Editor Outlines
**/
.tree-view-item-children {
  content: ' ';
  border-left: 1px solid rgba(118, 158, 165, 0.2);
  border-radius: 0 0px 0px 0;
}


/****
** Outline for the file and folders
**/
.nav-folder,
.nav-file {
  border-left: 2px solid rgba(118, 158, 165, 0.2);
}

/****
** Outline for the tree view 
**/
.outline .tree-item-children {
    margin-left: 10px;

    border-left: 2px solid rgba(118, 158, 165, 0.2);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
  }
  .tree-item-collapse {
    padding: 2px 15px 2px 15px;
    left: 1.5px;
  }

div.tree-item-inner {
  position: relative;
  padding-left: 5px;
}

.outline .tree-item-children:hover {
  border-left-color: rgba(118, 158, 165, 0.4);
}

/*=== Bullet Point Relationship Lines Based on ===*/
/* https://gist.github.com/emisjerry/cde2fb79bd5a387f0a7934759ea68e9d */


.cm-hmd-list-indent .cm-tab, ul ul, ol ol {
    position: relative;
}

.cm-hmd-list-indent .cm-tab::before, ul ul::before, ol ol::before {
    content: '';
    border-left: 1px solid rgba(0, 122, 255, 0.55);
    position: absolute;
}

/* I can't use this, because it will filter hue everything in the UL, included the images */
/* ul:nth-child(2), ol:nth-child(2) {
  filter: hue-rotate(45deg);
} */


/* Set color for each lines */

div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul ul::before{
    filter: hue-rotate(45deg);
}

div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul ul::before{
    filter: hue-rotate(90deg);
}

div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul > li >
ul ul::before{
    filter: hue-rotate(135deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul > li >
ul > li >
ul ul::before{
    filter: hue-rotate(170deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul > li >
ul > li >
ul > li >
ul ul::before{
    filter: hue-rotate(205deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul > li >
ul > li >
ul > li >
ul > li >
ul ul::before{
    filter: hue-rotate(250deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ul > li >
ul > li >
ul > li >
ul > li >
ul > li >
ul > li >
ul ul::before{
    filter: hue-rotate(0deg);
}

/* ol:nth-child(2) ol::before{
  filter: hue-rotate(45deg);
} */

/* div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div > ol > li > ol ol::before{
  filter: hue-rotate(45deg);
} */

div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol::before {
    filter: hue-rotate(45deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol > li >
ol::before {
    filter: hue-rotate(90deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol > li >
ol > li >
ol::before {
    filter: hue-rotate(135deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol > li >
ol > li >
ol > li >
ol::before {
    filter: hue-rotate(170deg);
}

div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol > li >
ol > li >
ol > li >
ol > li >
ol::before {
    filter: hue-rotate(205deg);
}
div.markdown-preview-view.allow-fold-headings.allow-fold-lists > div > div >
ol > li >
ol > li >
ol > li >
ol > li >
ol > li >
ol > li >
ol::before {
    filter: hue-rotate(250deg);
}

.cm-hmd-list-indent .cm-tab:nth-child(1) {
    filter: hue-rotate(45deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(2) {
    filter: hue-rotate(90deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(3) {
    filter: hue-rotate(135deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(4) {
    filter: hue-rotate(170deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(5) {
    filter: hue-rotate(205deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(6) {
    filter: hue-rotate(250deg);
}
.cm-hmd-list-indent .cm-tab:nth-child(7) {
    filter: hue-rotate(0deg);
}

.cm-hmd-list-indent .cm-tab::before {
    left: 3px;
    top: 0px;
    bottom: -4px;
}

ul ul::before, ol ol::before {
    left: -15px;
    top: -3px;
    bottom: 0;
}
ol, ul {
    padding-inline-start: 25px;
}

/*----------------------------------------------------------------
**
** Link Popover
**
** 
**/

.popover {
  font-size: 20px; /* bigger text to make up for the downscaling */
  text-align: justify;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.popover mark {
  background-color: #000000; /* mark background color */
  color: #dddddd; /* color for marked text */
}

.popover.hover-popover {
  transform: scale(0.7); /* downscales the whole content - important for smaller tag pills */
  max-height: 900px;
  min-height: 200px;
  width: 800px;
  background: var(--background-primary);
}

/*----------------------------------------------------------------
**
** IMAGE ZOOM ON CLICK
**
**/

.view-content img {
  max-width: 100%;
  cursor: zoom-in;
}
.view-content img:active {
  cursor: zoom-out;
  display: block;
  z-index: 100;
  position: fixed;
  max-height: calc(100% + 1px);
  max-width: calc(100% - 20px);
  height: calc(100% + 1px);
  width: 100%;
  object-fit: contain;
  margin: -0.5px auto 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-translucent);
}

/*----------------------------------------------------------------
**
** TAG PILLS
**
**/

/* Tag pills in edit mode - thanks to Whyl */ */
.CodeMirror-line span.cm-hashtag-begin {
    background-color: var(--tag-background);
    color: white;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    padding-left:8px;
    border-right:none;
    display: inline-block;
    text-decoration: none !important;
  }
  
  .CodeMirror-line span.cm-hashtag-end {
    background-color: var(--tag-background);
    color: white;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    padding-right:8px;
    border-left:none;
    display: inline-block;
    text-decoration: none !important;
  }
  
  /* Tag pills in tag pane */
  .tag-pane-tag-count {
    background-color: var(--tag-background);
    border: none;
    color: white;
    font-size: 13px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 14px;
  }
  
  .tag-pane-tag-text {
    background-color: var(--tag-background);
    border: none;
    color: white;
    font-size: 12px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 14px;
  }
  
  /* Change color of tag count pill when hovering */
  .tag-pane-tag:hover, .tag-pane-tag-text:hover  {
     cursor: pointer;
    color: white;
    background-color: var(--text-accent);
  }