

  /*************** TAG ***************/

/* .tag[href="#type/MOC"],
.cm-s-obsidian .CodeMirror-line span.cm-tag-NAME:not(.cm-formatting-hashtag),
.cm-s-obsidian .CodeMirror-line span.cm-tag-NAME {
  background-color: #595cf9;
  color :white;
} */
/* .tag[href="#MOC"]:before {
  content: "❓";
  padding: 0 -30px 15px 5px;
  margin: 0 0 0 -5px;
} */ */

/*************** END **************